<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="ConnectionString" value="Server = 204.110.52.87\\SOFT2014,50761;Database=Unicornio;User ID=galzate;Password=1upyRw3Lj75b;"/>
    <!--<add key="ConnectionString" value="Server = 192.175.101.115\SQL2017,49171;Database=C2217_FEDEQUINAS2011;User ID=c2217_admin;Password=clavesegura**;"/>-->
    <add key="UrlHorsePhoto" value="http://192.175.101.115:8000/FotosCaballos/"/>
    <add key="UrlFotosFerias" value="http://192.175.101.115:8000/FotosFerias/"/>
    <add key="UrlFotosAsociaciones" value="http://192.175.101.115:8000/FotosAsociaciones/"/>
    <add key="UrlHtmlPages" value="http://192.175.101.115:8000/Paginas/"/>
    <add key="UrlHoseDefault" value="http://192.175.101.115:8000/FotosCaballos/sin_imagen.jpg"/>
    <add key="UrlNoNoMorePhoto" value="http://192.175.101.115:8000/FotosCaballos/X.png"/>
    <add key="UrlColombiaPhoto" value="http://192.175.101.115:8000/FotosCaballos/colombia.png"/>
    <add key="PathHorsePhotos" value="C:\inetpub\wwwroot\FedequinasApp\FotosCaballos\"/>
    <add key="PathFairPhotos" value="C:\inetpub\wwwroot\FedequinasApp\FotosFerias\"/>
    <add key="PathHtmlPages" value="C:\inetpub\wwwroot\FedequinasApp\Paginas\"/>
    <!--<add key="EmailAccount" value="soportesoft4@gmail.com"/>
    <add key="EmailPassword" value="Soft123*"/>
    <add key="EmailPort" value="587"/>
    <add key="EmailHost" value="smtp.gmail.com"/>-->
    <add key="EmailAccount" value="app@fedequinas.org"/>
    <add key="EmailPassword" value="AppFedequinas***"/>
    <add key="EmailPort" value="587"/>
    <add key="EmailHost" value="smtp.gmail.com"/>
    <!--<add key="UrlHorsePhoto" value="http://03e68808.ngrok.io/FotosCaballos/" />
    <add key="UrlFotosFerias" value="http://03e68808.ngrok.io/FotosFerias/" />
    <add key="UrlFotosAsociaciones" value="http://03e68808.ngrok.io/FotosAsociaciones/" />
    <add key="UrlHtmlPages" value="http://03e68808.ngrok.io/Paginas/"/>
    <add key="UrlHoseDefault" value="http://03e68808.ngrok.io/FotosCaballos/sin_imagen.jpg"/>
    <add key="UrlNoNoMorePhoto" value="http://03e68808.ngrok.io/FotosCaballos/X.png"/>
    <add key="UrlColombiaPhoto" value="http://03e68808.ngrok.io/FotosCaballos/colombia.png"/>
    <add key="PathHorsePhotos" value="C:\inetpub\wwwroot\UnicornioRS\FotosCaballos\" />
    <add key="PathFairPhotos" value="C:\inetpub\wwwroot\UnicornioRS\FotosFerias\" />
    <add key="PathHtmlPages" value="C:\inetpub\wwwroot\UnicornioRS\Paginas\"/>-->
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.7.2" debug="true"/>
    <httpRuntime executionTimeout="120" useFullyQualifiedRedirectUrl="false" targetFramework="4.5.2" minFreeThreads="100" minLocalRequestFreeThreads="50" appRequestQueueLimit="100"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="RestService.UnicornioRS">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="webHttpBindingWithJsonP" contract="RestService.IUnicornioRS"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="64" maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
<!--ProjectGuid: 2068BBA6-03C7-48D1-8EF9-F9A5CDACEB2E-->